<div class="w-screen h-screen overflow-hidden flex flex-col">
  <app-navbar class="flex-shrink-0 flex-grow-0" />
  <div
    class="flex-auto m-auto min-h-0 overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500 relative bg-gray-100 dark:bg-gray-900"
  >
    <router-outlet />
  </div>
</div>
